.profileContainer {
  display: flex;
  /* justify-content: center; */
  flex-direction: column; /* Ensure items are stacked vertically */
  align-items: center; /* Center items horizontally */
  width: 50%;
}

.headLine {
  color: #73cdc2;
  font-size: xxx-large;
  font-weight: 540;
  margin-top: 5%;
}

.seconderyHeadLine {
  color: aliceblue;
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.descriptionText {
  color: azure;
  font-size: larger;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 150%;
  margin-top: 2%;
}

.buttonsContainer {
  margin-top: 3%;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10%;
  width: 35%;
  flex-grow: 0;
  flex-shrink: 0;
}

.computerGuyPic {
  height: 27vh;
  width: 20vh;
  margin-top: 5vh;
  /* border-radius: 50%; */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.skills {
  font-size: xx-large;
  color: #73cdc2;
  text-decoration-line: underline;
  margin-top: 4%;
}

.projectsContainer {
  margin-top: 20%;
  display: flex;
  width: 100%;
}

.computerGuyPic {
  --f: 0.1; /* the parallax factor (the smaller the better) */
  --r: 10px; /* radius */

  --_f: calc(100% * var(--f) / (1 + var(--f)));
  --_a: calc(90deg * var(--f));
  width: 27vh; /* the image size */
  aspect-ratio: calc(1 + var(--f));
  object-fit: cover;
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t, rotateY(var(--_a)));
  transition: 0.9s;
  cursor: pointer;
}

.computerGuyPic:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t: translateX(calc(-1 * var(--_f))) rotateY(calc(-1 * var(--_a)));
}
