.profileContainer {
  display: flex;
  /* justify-content: center; */
  flex-direction: column; /* Ensure items are stacked vertically */
  align-items: center; /* Center items horizontally */
  width: 50%;
}

.headLine {
  color: #73cdc2;
  font-size: xxx-large;
  font-weight: 540;
  margin-top: 5%;
}

.seconderyHeadLine {
  color: aliceblue;
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.descriptionText {
  color: azure;
  font-size: larger;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 150%;
  margin-top: 2%;
}

.buttonsContainer {
  margin-top: 3%;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10%;
  width: 35%;
  flex-grow: 0;
  flex-shrink: 0;
}

.gif {
  height: 27vh;
  width: 27vh;
  margin-top: 5vh;
  border-radius: 50%;
}

.skills {
  font-size: xx-large;
  color: #73cdc2;
  text-decoration-line: underline;
  margin-top: 4%;
}

.projectsContainer {
  margin-top: 30%;
  display: flex;
}
