.commenProperties {
  color: #e5e7eb;
}

.title {
}

.shortFiledsContainer {
  display: inline-flex;
}

.shortFiledsContainer .MuiTextField-root {
  padding: 1%;
}

.messageTextConatiner {
  padding: 1%;
}

.messageTextConatiner .MuiTextField-root {
  width: 100%; /* or any desired width */
}

.submitButtonContainer {
  padding: 1%;
  margin-top: 3%;
}
