/* .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
  stroke: white;
} */

/* .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
  fill: white;
} */

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
}

.test {
  background-color: brown;
}
