.projectsContainerBoxes {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap if needed */
  justify-content: space-between; /* Space out items */
  align-items: center; /* Align items properly */
  opacity: 1; /* Fully visible once animated */
  transition: opacity 0.5s ease-in-out; /* Smooth visibility transition */
}

.projectBox {
  border: 2px solid #fff5e0;
  border-radius: 20%;
  height: 30vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%; /* Each item occupies 25% of a row */
  flex-grow: 0.3; /* Allows some flexibility */
  margin: 15px; /* Space between items */
  padding: 1%; /* Padding inside the box */
}
