.title {
  color: #e5e7eb;
  margin-top: 2vh;
  text-decoration: underline 15%;
}

.projectBox a {
  text-decoration: none;
}

.technologiesUsed,
.description {
  color: #e5e7eb;
  margin-top: 2vh;
}

@media only screen and (max-width: 600px) and (max-height: 844px) {
  .title {
    margin-top: 1vh;
    min-height: 5vh;
  }

  .description {
    margin-top: 1vh;
    min-height: 5vh;
    margin: 0% 4%;
  }

  .technologiesUsed {
    margin-top: 1vh;
    min-height: 5vh;
    margin: 10% 2%;
  }
}
